* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}